parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#PHPDoc tag @var with type array<App\\Model\\ValueObject\\Direction> is not subtype of native type.*#'
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
 